html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

li{
    list-style: none;
}

.design ul li {
    width: 320px;
    margin: 0 0 24px;
}

.design ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 0;
}

.design ul li p {
    margin: 0;
    color: #5d5855;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 80px;
    background-color: antiquewhite;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    opacity: 0.95;
    z-index: 10;
}

.header-tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    margin: 0;
}

.tab-list{
    color: #5d5855;
    font-weight: bold;
}

.tab-list:hover{
    color: #c16c86;
    border-bottom: #c16c86 5px solid;
}

.tab-list2{
    padding: 29px 24px;
    background-color: #c16c86;
    color: #fff;
    font-weight: bold;
}

.tab-list2:hover{
    opacity: 0.7;
}

.header-div{
    width: 1200px;
    height: 80px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    align-items: center;
    justify-content: space-between;
}

.title-empty{
    width: 100%;
    height: 80px;
}

.title{
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;
    background-image: url(./title\ img.png);
    background-size: cover;
}

.page1{
    width: 100%;
    height: 100%;
}

.coupon{
    width: 800px;
    height: 96.53px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 0 0 8px lightgrey;
}

.banner{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    width: 100%;
    height: 240px;
    flex-wrap: wrap;
}

.about{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-img{
    width: 450px;
    height: 232px;
    padding-top: 260px;
    margin-right: 10px;
}

.about-text{
    width: 450px;
    padding-top: 220px;
    font-size: 18px;
    line-height: 2rem;
    letter-spacing: -0.408px;
    margin-left: 10px;
    text-align: center;
}

.design{
    width: 1000px;
    margin: 0 auto;
}